<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>

        $(document).ready(function(){



            $('#formId input, #formId textarea,#choices').keypress(function(event) {
    if (event.keyCode == 13) {
        event.preventDefault();
    }
});

      $('.ui.dropdown').dropdown({
        allowAdditions: true,
        multiple: true,
      });
    });

    </script>
</head>
<body>

{% block content %}{% endblock %}


</body>
</html>